<?xml version="1.0" encoding="UTF-8"?>
<!-- Note the `shutdownHook` attribute. -->
<Configuration status="WARN" monitorInterval="30" shutdownHook="disable">
  <Properties>
    <!-- <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1} trace-id=%X{traceId} span-id=%X{spanId} - %m%n</Property> -->
    <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1} - %m%n</Property>
  </Properties>

  <Appenders>
    <Console name="console" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>